<html>
<head>
  <meta charset="UTF-8">
  <title>Physical Innoguration</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <style>
  .container {
    font-family: 'Lato';
    color:white;
    font-size: 3vh;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 65%;
    transform: translateX(-50%) translateY(-40%);
    }
   body {
     background-color:#a1006b;
   }
   #logo {
     position:absolute;
     top:90%;
     left:50%;
     transform: translateX(-50%) translateY(-90%);
   }
  </style>
</head>
<body>
  <div class="container">
    <h1>Le mime, Edmond et son fils y passaient pour aller voir la Grande Dame</h1>
  </div>  
  <img id="logo" src="img/logo-transilien.png" alt="">
</body>
</html>